<h1>This is message board</h1>
<p>you can submit any message and it will present below.</p>
<br>
<h3>Below are all the messages have been submitted.</h3>
<p>Data retrieved from mongoDB Atlas with mongoose.</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Message</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    {{#each result}}
    <tr>
      <th scope="row">{{plusOne @index}}</th>
      <td>{{name}}</td>
      <td>{{message}}</td>
      <td>{{createdAt}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<br>

{{!-- form start here --}}
<form id="inputForm" method="POST" action="/navbar/messageBoard">
  <h2>Submit your message</h2>
  <div class="mb-3">
    <label for="nameInput" class="form-label">Name or Email</label>
    <input name="nameInput" type="text" class="form-control" id="nameInput" placeholder="Email if you want to get reply"
      col="3">
  </div>
  <div class="mb-3">
    <label for="msgInput" class="form-label">Message</label>
    <textarea name="msgInput" type="text" class="form-control" id="msgInput" rows="3"
      placeholder="type your message here"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" id="btn">Submit</button>
</form>

<hr>

{{!-- <form action="https://google.com">
  <input type="submit" value="Go to Google" />
</form> --}}

<script src="/javascript/messageBoard.js"></script>